<div class="bottom-nav">
  <span routerLink="/client/top-bar-home/home" [queryParams]="queryParams" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </span>
  <span routerLink="/client/recherche" [queryParams]="queryParams" routerLinkActive="active">
    <mat-icon>search</mat-icon>
  </span>
  <span routerLink="/client/top-bar-home/message" [queryParams]="queryParams" routerLinkActive="active">
    <mat-icon>chat_bubble_outline</mat-icon>
  </span>
  <span routerLink="/client/profile" [queryParams]="queryParams" routerLinkActive="active">
    <mat-icon>person</mat-icon>
  </span>
</div>